extends ../../layout

block content
  .light-card
    .card-body
      .title Add Dependency
      form(method='POST', action='/admin/dependency/add')
        .form-group
          label(for='title') Dependency Name
          input#title.form-control(type='text', placeholder='AppPortal', name='name', value=name)
        //.form-group
        //  label(for='color') Color
        //  input#color.form-control(type='text', placeholder='#cdcdcd', name='color')
        button.btn.btn-primary(type='submit') Create
