extends ../layout

block content
  .light-card
    .card-body
      .title Admin
      | Hello! If you want to logout click&nbsp;
      a(href='/admin/logout') here
      | .
      ul
        li
          a(href='/admin/newApplication') Add application
        li
          a(href='/admin/newVersion') Upload new apk
        li
          a(href='/admin/dependency') Show Dependency Types
        li
          a(href='/admin/dependencyVersion') Add Dependency Version
