extends ../layout

block content
  .light-card
    .card-body
      form(action='/admin/newVersion', enctype='multipart/form-data', method='post')
        .title Upload new APK
        .form-group
          label(for='apk') Apk
          input#apk(type='file', name='apk', multiple='multiple')
        button.btn.btn-primary(type='submit') Upload
