#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Changelog for #{title}&nbsp;
          span#dialogTitle
      .modal-body#dialogBody
      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal') Close
