extends layout

include includes/mixins

block script
    include includes/version-js

block content
  include includes/changelog-dialog
  .downloads-header
    .title Download
    h4 Showing 10 latest releases

  div.light-card.downloads-versions
    .versions-header Latest releases
    each version in versions
      .version
        .version-nbr
          a(href="/app/" + version.app.id)
            img.mini-icon(src='/icon/' + version.app.id)
          .latest-font= version.app.title + " " + version.name
          .version-buttons
            if version.changelog
              +tooltip("Changelog")
                a.btn.btn-changes.btn-sm.right5(href="", data-toggle='modal', data-target='#myModal', data-version=version.name, data-content=[version.changelog]) View changes
            if version.downloadable
              +tooltip("Copy Download Link")
                a.btn.btn-default.btn-sm.copy.hidden-xs.right5(href="", data-link='/download/' + version.filename)
                  +icon("copy")
              +tooltip("Download")
                a.btn.btn-default.btn-sm(href='/download/' + version.filename)
                  +icon("download-alt")
            else
              +icon("ban-circle", "Download blocked")
    else
      .no-versions No versions found!
