doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
  body
    .container
      .header
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='/') Home
            if session.admin
              li(role='presentation')
                a(href='/admin') Admin
        h3.text-muted= title
      .well
        if flash
          while message = flash.shift()
            .alert(class='alert-' + message.type)
              p= message.message
        block content
      footer.footer
        p
          | © 2016 Markus Maga
          span.pull-right
            if nightly
              a(href='/nightly') Nightly
              |  |
            if session.admin
              a(href='/admin/logout') Logout
            else
              a(href='/admin') Admin
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    block script
