doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
  body
    .container
      .header
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='/') Home
            if session.admin
              li(role='presentation')
                a(href='/admin') Admin
        h3.text-muted= title
      .well
        if flash
          while message = flash.shift()
            .alert(class='alert-' + message.type)
              p= message.message
        block content
      footer.footer
        p
          | © 2016 Markus Maga
          span.pull-right
            if nightly
              a(href='/nightly') Nightly
              |  |
            if session.admin
              a(href='/admin/logout') Logout
            else
              a(href='/admin') Admin
    script(src='/javascripts/jquery-2.2.4.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block script