html, body {
  height: 100%;
  background: #23172D;
}

.header,
.footer {
  background: rgb(9, 6, 11);
  padding: 16px;
}

.header li.active > a {
  background-color: #EC2F45;
}

.header li.active > a:hover {
  background-color: #23172D;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-weight: bold;
  color: #FAF9F9;
}

.footer {
  color: #777;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


.footer .container {
  display: flex;
}

.footer .right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.footer .left a {
  color: #EC2F45;
}

.selected a {
  border: 1px solid rgb(51, 122, 183);
}

.logo {
  float: left;
  height: 40px;
  margin-right: 10px;
}

a.title:hover {
  text-decoration: none;
}

.mini-icon {
  width: 32px;
  margin-right: 5px;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
}

.version-font {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
}

.right5 {
  margin-right: 5px;
}

.left5 {
  margin-left: 5px;
}

.application a {
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  color: #EC2F45;
  text-align: center;
  background: #faf9f9;
  height: 100%;
  display: block;
  border-radius: 8px;
  padding: 8px;
}

.application img {
  max-width: 100%;
  max-height: 175px;
}

select[multiple]#dependency, select[size] {
    height: 100px;
}

.wrapper {
  background-color: #23172D;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  margin: 8px;
}

.app-title .title {
  color:#23172D;
  font-weight: bold;
  font-size: 36px;
}

.app-title .btn.btn-primary {
  border-color: #E18590;
  background-color: #E18590;
}

.app-header .app-logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.app-filtering {
  color: #faf9f9;
  border-radius: 8px;
  margin: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 8px;
}

.app-filtering .btn-info {
  border-color: #E18590;
  background-color: #E18590;
}

.filter-options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.app-versions {
  background-color: #FAF9F9;
  padding-bottom: 8px;
  margin: 8px;
  border-radius: 8px;
}

.app-versions .versions-header {
  color: #23172D;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  padding: 26px 8px 16px 8px;
}

.app-versions .version {
  padding: 16px 8px 8px 8px;
  margin: 8px;
  border-top: 1px solid #E18590;
}

.version .version-font {
  color: #23172D;
}

.version .version-nbr {
  display:flex;
  align-items:center;
}

.version .version-compatible {
  display:flex;
  flex-wrap:wrap;
  margin-top: 8px;
}

.version .dep-group {
  background: #ddd;
  border-radius:4px;
  padding:4px;
  margin-right:4px;
  display:flex;
  align-items:center;
  margin-bottom: 8px;
}

.full-changelog {
  color: #E18590;
}

.btn-changes {
  background-color: #ea99a7;
  border-color: #ea99a7;
  color: #fff;
}

.btn-changes:hover {
  background-color: #E18590;
  border-color: #E18590;
  color: #fff;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.header .container, .footer .container {
  padding: 0 8px;
}
