/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  color: #777;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.header {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}



.thumbnail {
  text-align: center;
}

.application img {
  max-height: 175px;
}

.selected a {
  border: 1px solid rgb(51, 122, 183);
}


.versions-table tbody tr td {
  vertical-align: middle;
}

.version-col {
  width: 102px;
}

.version-col-wide {
  width: 140px;
}

.well {
  margin-bottom: 0;
}

.shallow {
  padding-bottom: 0;
}

.logo {
  float: left;
  height: 40px;
  margin-right: 10px;
}

a.title:hover {
  text-decoration: none;
}

.mini-icon {
  width: 32px;
  margin-right: 5px;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
}

.version-font {
  font-family: "Lucida Console", Monaco, monospace;
}