.thumbnail {
  text-align: center;
}

.application img {
  max-height: 175px;
}

.selected a {
  border: 1px solid rgb(51, 122, 183);
}


.versions-table tbody tr td {
  vertical-align: middle;
}

.version-col {
  width: 102px;
}